@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Andada+Pro&display=swap');

html, body, #root, .App {
  max-height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #504336;
  background-image: url(contour_map.svg);
  background-size: 1200px;
}